# Node.js dependencies
node_modules/


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp

# Test coverage output
coverage/

#images
public/images/Rajeev Puri Sir.jpg
public/images/Rohit.jpeg
public/images/WhatsApp Image 2024-06-04 at 10.20.12_c34160ad.jpg
public/images/WhatsApp Image 2024-09-17 at 13.44.48_82188a43.jpg